<form #f="ngForm">
  <br /><br />
  <label for="cep">Cep</label>
  <input
    type="text"
    id="cep"
    name="cep"
    ngModel
    #cep="ngModel"
    (blur)="consultaCep($event.target.value, f)"
  />

  <br /><br />
  <label for="logradouro">logradouro</label>
  <input
    type="text"
    id="logradouro"
    name="logradouro"
    ngModel
    #logradouro="ngModel"
    disabled
  />

  <br /><br />
  <label for="bairro">bairro</label>
  <input
    type="text"
    id="bairro"
    name="bairro"
    ngModel
    #bairro="ngModel"
    disabled
  />

  <br /><br />
  <label for="cidade">cidade</label>
  <input
    type="text"
    id="cidade"
    name="cidade"
    ngModel
    #cidade="ngModel"
    disabled
  />

  <br /><br />
  <label for="uf">uf</label>
  <input type="text" id="uf" name="uf" ngModel #uf="ngModel" disabled />
</form>
